<div class="row">
  <div class="col-sm-12">
    <h1>Colour Search<button type="button" class="btn btn-lg btn-default pull-right" ng-disabled="!admin.less || !admin.less.length" ng-click="admin.export(admin.less)">Export Data</button></h1>
  </div>
</div>
<br>
<hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>Colour</label>
        <select class="form-control" required ng-model="admin.search.colour" placeholder="Select a colour">
          <option ng-value="colour" ng-repeat="colour in admin.colours">{{colour}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Start Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.start" placeholder="Start Date" is-open="opened" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>End Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.end" placeholder="Start Date" is-open="opened2" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label style="opacity: 0">Start Date</label>
        <button type="button" class="btn btn-success btn-block" ng-disabled="!admin.search.start || !admin.search.end || !admin.search.colour || !admin.search.colour[0]" ng-click="admin.processLessons()">
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" ng-show="admin.error">
    There was an error:<br>
    <code>{{admin.error}}</code>
  </div>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Occurences</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="lesson in admin.less">
      <td>{{lesson.student.firstName + ' ' + lesson.student.lastName}}</td>
      <td>{{lesson.found}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <th>{{admin.total}}</th>
    </tr>
  </tbody>
</table>
