<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="calendar" class="navbar-brand">GSPT Calendar</a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="admin.student">Students</a></li>
      <li ui-sref-active="active"><a ui-sref="admin.tutor">Tutors</a></li>
      <li ui-sref-active="active"><a ui-sref="admin.session">Sessions</a></li>
    </ul>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="main">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Logged in as {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
