<form ng-submit="vm.submit($resolve.data, $close)">
<div class="modal-header">
	<h4 class="modal-title">Create New Session</h4>
	<button type="button" tabindex="-1" class="close" aria-label="Close" ng-click="$dismiss('close')"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
		<div class="form-group">
			<label>Student</label>
			<div class="select-wrap">
				<tags-input ng-model="vm.selectedStudent"
				ng-disabled="vm.selectedStudent" 
	                  name="selectedStudent"
	                  placeholder=" "
	                  add-from-autocomplete-only="true"
	                  replace-spaces-with-dashes="false"
	                  display-property="fullName" required tabindex="-1">
		        	<auto-complete source="vm.returnFilter(vm.students, $query)" 
		                       min-length="1" ></auto-complete>
		      	</tags-input>
		      	<button class="btn btn-danger" ng-click="vm.selectedStudent = null" ng-show="vm.selectedStudent" tabindex="-1">Edit</button>
	      	</div>
		</div>
		<div class="form-group">
			<label>Tutor</label>
			<div class="select-wrap">
				<tags-input ng-model="vm.selectedTutor"
				ng-disabled="vm.selectedTutor" 
	                  name="selectedTutor"
	                  placeholder=" "
	                  add-from-autocomplete-only="true"
	                  replace-spaces-with-dashes="false"
	                  display-property="fullName" required>
		        	<auto-complete source="vm.returnFilter(vm.tutors, $query)" 
		                       min-length="1" ></auto-complete>
		      	</tags-input>
		      	<button type="button" class="btn btn-danger" ng-click="vm.selectedTutor = null" ng-show="vm.selectedTutor" tabindex="-1">Edit</button>
	      	</div>
		</div>
		<div class="form-group duration-group">
			<label>Duration</label>
			<div>
				<button type="button" class="btn btn-default" ng-repeat="duration in [30,60,90,120,150,180,210,240]" ng-click="vm.changeDuration(duration)" ng-class="{'btn-primary': vm.newSession.duration == duration}">{{duration}} m</button>
			</div>
		</div>
		<div class="form-group color-group">
			<label>Color</label>
			<div>
				<span class="color-box aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newSession.color = color" ng-class="{'active': vm.newSession.color == color}"></span>
			</div>
			<div>
				<span class="color-box dark aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newSession.color = 'dark ' + color" ng-class="{'active': vm.newSession.color == 'dark ' + color}"></span>
			</div>
			<div>
				<span class="color-box striped aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newSession.color = 'striped ' + color" ng-class="{'active': vm.newSession.color == 'striped ' + color}"></span>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<label>Frequency</label>
					<div>
						<button type="button" class="btn btn-default" ng-click="vm.newSession.frequency = 0; vm.showNotes = true;" ng-class="{'btn-primary': vm.newSession.frequency == 0}">One Off</button>
						<button type="button" class="btn btn-default" ng-click="vm.newSession.frequency = 7" ng-class="{'btn-primary': vm.newSession.frequency == 7}">Weekly</button>
						<button type="button" class="btn btn-default" ng-click="vm.newSession.frequency = 14" ng-class="{'btn-primary': vm.newSession.frequency == 14}">Fortnightly</button>
					</div>
				</div>
				<div class="col-md-6" ng-show="vm.newSession.frequency">
					<label>Occurences</label>
					<div class="flex">
			          <input type="number" class="form-control" min="2" placeholder="Occurences" ng-model="vm.newSession.instances" ng-disabled="vm.inf" ng-required="!vm.inf && vm.newSession.frequency">
			          <button type="button" class="btn btn-default tertiary" style="margin-left: 3px" ng-click="vm.inf = !vm.inf" ng-class="{'btn-primary': vm.inf}">∞
			          </button>
			        </div>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
  				<label>Overwrite Student Name</label>
  				<input type="text" class="form-control" ng-model="vm.newSession.overwriteName[0]" ng-disabled="vm.newSession.duration === 30">
  			</div>
  			<div class="col-sm-6">
  				<label>Changeover Line</label>
  				<div>
  					<button type="button" class="btn btn-default" ng-click="vm.newSession._changeover = 'present';" ng-class="{'btn-primary': vm.newSession._changeover ===  'present'}">Series</button>
					<button type="button" 
						class="btn btn-default" 
						ng-hide="vm.newSession.frequency === 0"
						ng-click="vm.newSession._changeover = 'one off'" 
						ng-class="{'btn-primary': vm.newSession._changeover === 'one off'}">Instance</button>
					<button type="button" class="btn btn-default" ng-click="vm.newSession._changeover = null;" ng-class="{'btn-primary': !vm.newSession._changeover}">None</button>
  				</div>
  			</div>
  		</div>
		<div class="form-group" ng-show="vm.showNotes">
			<hr>
			<label>Notes</label>
			<textarea class="form-control" ng-model="vm.newSession.globalNotes" rows="4" placeholder="Global notes section"></textarea>
		</div>
		<div class="alert alert-danger" ng-show="vm.error">
    		There was an error:<br>
    		<code>{{vm.error}}</code>
  		</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-default" ng-click="$dismiss('close')">Close</button>
	<button type="button" class="btn btn-default" ng-click="vm.showNotes = !vm.showNotes" ng-bind="vm.showNotes ? 'Hide Notes' : 'Add Notes'"></button>
	<button type="submit" class="btn btn-success">Create</button>
</div>
</form>