<form ng-submit="vm.submit($resolve.data, $close)">
<div class="modal-header">
	<h4 class="modal-title">Edit Session</h4>
	<button type="button" tabindex="-1" class="close" aria-label="Close" ng-click="$dismiss('close')"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
		<div class="form-group row">
			<label class="col-sm-3">Student</label>
			<div class="col-sm-3">{{$resolve.data.student.firstName + ' ' + $resolve.data.student.lastName}}</div>
			<label class="col-sm-3">Tutor</label>
			<div class="col-sm-3">{{$resolve.data.tutor.firstName + ' ' + $resolve.data.tutor.lastName}}</div>
		</div>
		<hr>
		<div class="form-group row">
			<label class="col-sm-3">Client Name</label>
			<div class="col-sm-3">{{$resolve.data.student.clientFirstName + ' ' + $resolve.data.clientLastName}}</div>
			<label class="col-sm-3">Client Email</label>
			<div class="col-sm-3">{{$resolve.data.student.clientEmail}}</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3">CRM ID</label>
			<div class="col-sm-3">{{$resolve.data.student.crmID}}</div>
			<label class="col-sm-3">Client Phone</label>
			<div class="col-sm-3">{{$resolve.data.student.clientPhone}}</div>
		</div>
		<hr>
		<div class="form-group duration-group">
			<label>Duration (exception change)</label>
			<div ng-init="vm.newDuration = $resolve.data.duration">
				<button type="button" class="btn btn-default" ng-repeat="duration in [30,60,90,120,150,180,210,240]" ng-click="vm.newDuration = duration" ng-class="{'btn-primary': vm.newDuration == duration}">{{duration}} m</button>
			</div>
		</div>
		<hr>
		<div class="form-group color-group" ng-init="vm.newColor = $resolve.data.color">
			<label>Change Color (exception change)</label>
			<div>
				<span class="color-box aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newColor = color" ng-class="{'active': vm.newColor == color}"></span>
			</div>
			<div>
				<span class="color-box dark aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newColor = 'dark ' + color" ng-class="{'active': vm.newColor == 'dark ' + color}"></span>
			</div>
			<div>
				<span class="color-box striped aa{{color}}" ng-repeat="color in vm.colors" ng-click="vm.newColor = 'striped ' + color" ng-class="{'active': vm.newColor == 'striped ' + color}"></span>
			</div>
		</div>
		<hr>
		<div class="form-group row">
			<div class="col-sm-6" ng-init="vm.globalNotes = $resolve.data.globalNotes">
				<label>Global Notes</label>
				<textarea class="form-control" ng-model="vm.globalNotes" rows="4"></textarea>
			</div>
			<div class="col-sm-6">
				<label>Specific Notes</label>
				<textarea class="form-control" ng-model="vm.specificNotes" rows="4"></textarea>
			</div>
		</div>
		<span ng-show="!$resolve.data.instances">
  		<hr>
  		<label><input type="checkbox" ng-model="vm.lastInstance">  Make Last Instance</label>
  		</span>
  		<div class="alert alert-danger" ng-show="vm.error">
    		There was an error:<br>
    		<code>{{vm.error}}</code>
  		</div>
	</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-success">Save</button>
</div>
</form>