<div class="row">
  <div class="col-sm-12">
    <h1>Tutor Data<button type="button" class="btn btn-lg btn-default pull-right" ng-disabled="!admin.less || !admin.less.length" ng-click="admin.export(admin.less)">Export Data</button></h1>
  </div>
</div>
<br>
<hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>Tutor Name</label>
        <tags-input ng-model="admin.search.tutor"
                placeholder=" "
                add-from-autocomplete-only="true"
                replace-spaces-with-dashes="false"
                display-property="fullName" required>
          <auto-complete source="admin.returnFilter(admin.tutors, $query)" 
                       min-length="1" ></auto-complete>
        </tags-input>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Start Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.start" placeholder="Start Date" is-open="opened" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>End Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.end" placeholder="Start Date" is-open="opened2" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label style="opacity: 0">Terms</label><br>
        <button type="button" class="btn btn-success btn-block" ng-click="admin.submit()">
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" ng-show="admin.error">
    There was an error:<br>
    <code>{{admin.error}}</code>
  </div>
  <div>
    
  </div>
<hr>
<div class="row">
  <div class="col-sm-9">
  </div>
  <div class="col-sm-3 text-right">
    <div ng-init="currentPage = 0; pageSize = 100;">
      <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
      </button>
      {{currentPage + 1}}/{{(admin.less.length/pageSize | roundUp) || 1}}
      <button class="btn btn-default" ng-disabled="currentPage >= admin.less.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Student Name</th>
      <th>Total Time</th>
    </tr>
  </thead>
  <tbody ng-init="tableOrder = 'found'">
    <tr ng-repeat="lesson in admin.less | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy: tableOrder">
      <th scope="row">{{$index + 1}}</th>
      <td>{{lesson.student.fullName}}</td>
      <td>{{lesson.totalTime}}</td>
    </tr>
  </tbody>
</table>
