<div class="container-fluid">
	<button class="btn btn-lg" ng-click="vm.location = 'paddington'">Paddington</button>
	<button class="btn btn-lg" ng-click="vm.location = 'cannonHill'">Cannon Hill</button>
	<table class="table table-striped a-calendar">
		<thead>
			<tr>
				<th>Time</th>
				<th ng-repeat="room in vm.rooms[vm.location]">Room {{room + 1}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="segment in vm.segments">
				<th>{{vm.convertSegment(segment)}}</th>
			  	<td ng-repeat="room in vm.rooms[vm.location]" ng-click="vm.createSession(segment, room)"></td>
			</tr>
		</tbody>
	</table>
</div>