.date-group{
  max-width: 250px;
  float: left;
  margin-right: 20px;
}

#calendar-container{
  margin-top: -10px;
}

.search-group{
  float: left;
  margin-right: 20px;
  max-width: 300px;
}

.free-col{
  position: relative;

  &.drag-cell{
    /*when its about to have something dragged to it*/
    background-color: #aaa;
  }
} 

.calendar-grey{
  padding-bottom: 10px;
    background: #E2E7EB;
    margin-top: -10px;
    padding-top: 10px;

  button.btn-primary{
    background-color: #9db4c5 !important;
    border-color: #333 !important;
    color: #333 !important;
    cursor: default;
  }

  button:focus{
    outline: none !important;
  }
}

.a-calendar.table tr > th, .a-calendar.table tr > td{
  padding: 2px 8px;
}

.a-calendar.table tr > th{
  font-weight: 400;
}

.session-cell{
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 5px;
    line-height: 1.1;
    overflow: hidden;
    
    &.single-cell{
      padding: 3px 2px;
      font-size: 11px;

      span.student{
        display: block;
        font-size: 12px;
        margin-bottom: 3px;
      }

      span{
        white-space: nowrap;
        display: block;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
      }

      .icon-row{
          opacity: 0.6;
          padding: 2px 0px 2px 3px;
          border-radius: 3px 0px 0px;
          z-index: 10;
          font-size: 10px;

          i{
            margin-right: 2px;
          }
      }

    }

    &:only-child{
      width: 100%;
    }

    &:nth-child(2) {
      left: auto;
      right: 0px;
    }

    &:hover{
      background-color: white;

      .a-bg{
        opacity: 0.25;
      }
    } 

  .a-bg{
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      opacity: 0.5;
      z-index: -1;
      border: 1px solid rgba(0,0,0,0.5);
  }

  span.student{
    display: block;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
  }

  span.tutor{
    font-size: 12px;
  }
  
  span.notes{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
  }
  
}



.a-calendar td{
  border-left: 1px solid #ccc;
  cursor: pointer;

  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.date-input{
  pointer-events: none;
}

.date-group .uib-clear{
  display: none;
}

.time-col{
  width: 90px;
}

.icon-row{
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: #fff !important;
    background-color: #565656;
    padding: 5px 2px 2px 5px;
    border-radius: 3px 0px 0px;
    z-index: 10;

    i{
      margin-right: 5px;
      font-size: 12px;
    }
}


.select-wrap{
  position: relative;

  button.btn{
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .remove-button{
    display: none;
  }

  li.tag-item{
    background-color: transparent !important;
    border: 0px !important;
    color: #333 !important;
  }

  tags-input .tags.focused {
    border: 1px solid #ccc;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  div.tags:focus{
    outline: none !important;
  }

  *:focus{
    outline: none !important;
  }
} 

.duration-group{

  button{
    margin-right: 8px;
  }
}

.color-group{
  > div{
    margin-bottom: 12px;
    text-align: center;
  }

  span.color-box{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 12px;
    border-radius: 3px;
    vertical-align: bottom;

    &.active{
      border: 3px solid #ccc;
    }
  }
}

.a-calendar.loading{
  opacity: 0.5;
  pointer-events: none;
}

.a-calendar tbody{

  th, td{
    border-top: none !important;
  }
}

table.in-drag .session-cell:not(.in-drag){
  z-index: -1;
}

.table-striped.a-calendar > tbody > tr:nth-of-type(odd) {
    background-color: rgba(221, 220, 220, 0.35);
    th{
      opacity: 0;
    }
}

.table-striped.a-calendar > tbody > tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.35);
    
}

.a-table-row .form-control{
  width: 75%;
  display: inline-block;
}

.a-table-row .btn{
  width: 22%;
  display: inline-block;
}

.a-success-wrap{
  background: rgba(7,204,0,0.21);
  border: 2px solid #119200;
  border-radius: 3px;
  padding: 15px 30px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 50px;
  bottom: 20px;

  /* &.fail{*/
  /*   background: rgba(204,0,0,0.21);*/
  /*   border: 2px solid #920000;*/

  /*   .a-success-circle{*/
  /*     border: 1px solid #920000;*/

  /*     i{*/
  /*       color: #920000;*/
  /*     }*/
  /*   }*/
  /*   .a-success-message{*/
  /*       color: #920000;*/
  /*     }*/
  /* }*/

  .a-success-circle{
    border-radius: 100px;
    background: rgba(255,255,255,0.44);
    border: 1px solid #119200;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    
    i{
      font-size: 26px;
      color: #119200;
      position: absolute;
      top: 50%;
      left: 0px;
        right: 0px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  .a-success-message{
    font-size: 22px;
    color: #119200;
    line-height: 30px;
    display: inline-block;
    margin-top: 8px;
  }
}

.table-wrap{
  height: calc(100vh - 131px);
  overflow-y: auto;
}

.a-calendar{
  margin-bottom: 0px;
}
