.striped{
  background-size: 4px !important;
}

td .striped{
  background-size: 10px 10px !important;
  opaicty: 0.3 !important;
}

.aablue{
  background-color: #337ab7;

  &.dark{
    background-color: #002346;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #337ab7 25%, #337ab7 50%, #eee 50%, #eee 75%, #337ab7 75%);
  }
}

.aaorange{
  background-color: #cb8515;

  &.dark{
    background-color: #b44e0e;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #cb8515 25%, #cb8515 50%, #eee 50%, #eee 75%, #cb8515 75%);
  }
}

.aared{
  background-color: #d32626;

  &.dark{
    background-color: #8b0b0b;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #d32626 25%, #d32626 50%, #eee 50%, #eee 75%, #d32626 75%);
  }
}

.aapurple{
  background-color: #a76ae6;

  &.dark{
    background-color: #390c68;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #a76ae6 25%, #a76ae6 50%, #eee 50%, #eee 75%, #a76ae6 75%);
  }
}

.aagrey{
  background-color: #afafaf;

  &.dark{
    background-color: #5f5f5f;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #afafaf 25%, #afafaf 50%, #eee 50%, #eee 75%, #afafaf 75%);
  }
}

.aagreen{
  background-color: #31be3f;

  &.dark{
    background-color: #096312;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #31be3f 25%, #31be3f 50%, #eee 50%, #eee 75%, #31be3f 75%);
  }
}

.aayellow{
  background-color: #d2be4a;

  &.dark{
    background-color: #7c6f00;
  }

  &.striped{
    background: -webkit-linear-gradient(45deg, #eee 25%, #d2be4a 25%, #d2be4a 50%, #eee 50%, #eee 75%, #d2be4a 75%);
  }
}