<div class="row">
  <div class="col-sm-12">
    <h1>Student Report</h1>
  </div>
</div>
<br>
<hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>Student Name</label>
        <tags-input ng-model="admin.search.student"
                name="selectedStudent"
                placeholder=" "
                add-from-autocomplete-only="true"
                replace-spaces-with-dashes="false"
                display-property="fullName">
          <auto-complete source="admin.returnFilter(admin.students, $query)" 
                       min-length="1" ></auto-complete>
        </tags-input>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Start Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.start" placeholder="Start Date" is-open="opened" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>End Date</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd/MM/y"  required ng-model="admin.search.end" placeholder="Start Date" is-open="opened2" close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opened2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <label style="opacity: 0">start</label>
      <button type="button" class="btn btn-success btn-block" ng-click="admin.processLessons()" ng-disabled="!admin.search.end || !admin.search.start || !admin.search.student || !admin.search.student[0]">
      <span>Search</span>
    </button>
    </div>
  </div>
  <div class="alert alert-danger" ng-show="admin.error">
    There was an error:<br>
    <code>{{admin.error}}</code>
  </div>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Colour</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="count in admin.counts">
      <td style="text-transform: capitalize;">{{count[0]}}</td>
      <td>{{count[1]}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <th>{{admin.total}}</th>
    </tr>
  </tbody>
</table>
