<div class="row">
  <div class="col-sm-12">
    <h1>Settings</h1>
  </div>
</div>
<br>
<hr>
<div>
	<h4>Student Settings</h4>
	<button type="button" ng-click="admin.addYear()" class="btn btn-default btn-lg" style="margin-top: 20px">Start New School Year</button>
</div>
<hr>
<div>
	<h4>Icon Settings</h4>
	<p>Only use the name of the icon, i.e., don't include 'fa'. <a href="http://fontawesome.io/icons/">Click here for a list of icons.</a></p>
	<form ng-submit="admin.saveIcons()">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label>First Icon</label>
					<input class="form-control" type="text" ng-model="admin.icons.first" required placeholder="'Phone', 'Cross', etc." />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Second Icon</label>
					<input class="form-control" type="text" ng-model="admin.icons.second" required placeholder="'Phone', 'Cross', etc." />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Third Icon</label>
					<input class="form-control" type="text" ng-model="admin.icons.third" required placeholder="'Phone', 'Cross', etc." />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Year 12 Icon</label>
					<input class="form-control" type="text" ng-model="admin.icons.year12" required placeholder="'Phone', 'Cross', etc." />
				</div>
			</div>
		</div>
		<div>
			<div class="alert alert-danger" ng-show="admin.fail">
			    There was an error. Please refresh and try again.
			</div>
			<div class="alert alert-success" ng-show="admin.success">
			   	Icons successfully updated.
			</div>
		</div>
		<div class="text-right">
			<button class="btn btn-success" type="submit">Save Icons</button>
		</div>
	</form>
</div>